.footer {
    background-color: #f1f1f1; /* Color gris claro para el fondo */
    color: #333; /* Color oscuro para el texto */
    font-size: 0.9rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a {
    color: #333; /* Color oscuro para los enlaces */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h6 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer .form-control-sm {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.footer .text-right i {
    font-size: 1.2rem;
}

.footer hr {
    border-top: 1px solid #ddd; /* Línea divisoria en gris */
    margin: 1rem 0;
}
